<owl-carousel [options]="owlOptions"  [carouselClasses]="['owl-theme', 'row', 'sliding']" *ngIf="slider.length !== 0">
  <div class="item" *ngFor="let item of slider">
    <img src="/media/{{item.img_path}}"/>
  </div>
</owl-carousel>

<section class="page wrap" id="build">
  <div class="container">
    <div class="page-title">
      <h1>О компании</h1>
    </div>

    <div class="page-descr" [innerHTML]="build ? build.description : 'no text'"></div>
  </div>
</section>

<section class="page" id="service">
  <div class="container">
    <div class="page-title">
      <h1>Направления деятельности</h1>
    </div>

    <div class="page-items">
      <div class="page-item" *ngFor="let item of categories">
        <img src="/media/{{item.img_path}}"/>
        <p>{{item.name}}</p>
        <a *ngIf="!item.callback" (click)="otherService.openCallback()">Оставить заявку</a>
        <a *ngIf="item.callback" href="/additional/{{item.id}}">Посмотреть</a>
      </div>
    </div>
  </div>
</section>


<section class="page" id="verify" *ngIf="verify.length !== 0">
  <div class="page-title">
    <h1>Сертификаты</h1>
  </div>

    <owl-carousel  [options]="owlVerifyOption"  [carouselClasses]="['owl-theme', 'row', 'sliding']" *ngIf="verify.length !== 0">
      <div class="item" *ngFor="let item of verify">
        <img src="/media/{{item.img_path}}"/>
      </div>
  </owl-carousel>
</section>


<section class="page" id="callback">
  <div class="page-title">
    <h1>Контакты</h1>
  </div>

  <div class="callback">
    <div class="left" *ngIf="contact">
      <div><span class="material-icons">call</span></div>

      <p>Адрес: <br/> <span>{{contact.address}}</span></p>
      <p>Телефон: <br/> <span><a href="tel:{{contact.phone}}">{{contact.phone}}</a></span></p>
      <p>Email: <br/> <span><a href="mailto:{{contact.email}}">{{contact.email}}</a></span></p>
    </div>
    <div class="right page--bg-blue">
      <div class="input-field">
        <label for="first_name">Ваше имя:</label>
        <input id="first_name" type="text"  required/>
      </div>
      <div class="input-field">
        <label for="email">Ваш e-mail:</label>
        <input id="email" type="email" required/>
      </div>
      <div class="input-field">
        <label for="phone">Ваш телефон:</label>
        <input id="phone" type="text"/>
      </div>
      <div class="input-field">
        <label for="message">Вашe сообщение:</label>
        <textarea id="message" aria-required></textarea>
      </div>
      <div class="wrap">
        <button>
          Оставить заявку
        </button>
      </div>
    </div>


  </div>
</section>
